body {
  font-family: "League Gothic";
  font-size: 12px;
}
/**/
/**/
/*BACKGROUND STYLE*/
/**/
/**/
.background-header {
  width: 100%;
  background-image: url(../img/bg-header.jpg);
  /*background-position: center center;*/
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-size: cover;
}
.background-slider {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.background-info {
  width: 100%;
  background: linear-gradient(to top, #322539, #745083);
  border-top: 1px solid #33253a;
  border-bottom: 1px solid #1d2f37;
}
.background-comments {
  width: 100%;
  background-color: #f9f9f9;
  border-top: 1px solid #12191f;
  border-bottom: 1px solid #e6e6e6;
}
.background-brands {
  width: 100%;
  background-color: #f9f9f9;
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #fefefe;
}
.background-news {
  width: 100%;
  background-color: #ececec;
  border-top: 1px solid #d8d8d8;
}
.background-footer {
  overflow: hidden;
  width: 100%;
  background-image: url(../img/bg-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(4px);
}
/**/
/**/
/*GENERAL STYLE*/
/**/
/**/
.wrapper {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.container-header {
  display: block;
  overflow: hidden;
  text-transform: uppercase;
}
.logo {
  float: left;
  background: linear-gradient(to top, #33263a, #745083);
  -webkit-background-clip: text;
  color:#fff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.logo span {
  color: transparent;
  text-shadow: none;
}
.menu {
  float: right;
}
.menu__item {
  float: left;
}
.menu__link {
  display: block;
  text-decoration: none;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.menu__item:hover .menu__link {
  border-bottom: 2px solid #edbfff;
}
.container-slider {
  position: relative;
}
.iphone-back {
  position: absolute;
  background: url(../img/iphone4.png);
  background-size: cover;
  z-index: 1;
  -webkit-filter: blur(2px);
}
.iphone-front {
  position: absolute;
  background: url(../img/iphone4.png);
  background-size: cover;
  z-index: 2;
}
.play-back {
  position: absolute;
  z-index: 3;
}
.play-front {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(203, 165, 218, 0.8);
  border: none;
  outline: none;
  cursor: pointer;
  font-family: fontello;
  color: #fff;
}
@media (min-width: 960px) {
  .wrapper {
    max-width: 960px;
    padding: 0 287px;
  }
  /**/
  /**/
  /*HEADER*/
  /**/
  /**/
  .background-header {
    height: 338px;
  }
  .background-slider {
    height: 160px;
  }
  .container-header {
    margin-bottom: 65px;
    padding-top: 27px;
  }
  .logo {
    font-size: 160%;
  }
  .menu__item {
    margin: 3px 0 0 20px;
    font-size: 10px;
  }
  .iphone-back {
    top: 27px;
    left: 537px;
    width: 48px;
    height: 100px;
  }
  .iphone-front {
    top: -9px;
    left: 566px;
    width: 80px;
    height: 170px;
  }
  .play-back {
    top: 54px;
    left: 590px;
    /*padding: 1px;*/
    border: 1.5px solid #ccc;
    border-radius: 15px;
  }
  .play-first-middle {
    border: 2px solid #46324f;
    border-radius: 14px;
  }
  .play-second-middle {
    padding: 0.5px;
    border: 1.5px solid #ccc;
    border-radius: 12px;
  }
  .play-front {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 95%;
  }

  .background-info {
    height: 134px;
  }
  .background-comments {
    height: 194px;
  }
  .background-brands {
    height: 45px;
  }
  .background-news {
    height: 159px;
  }
  .background-footer {
    height: 45px;
    background-position: center 93.4%;
  }
}
